* {
    box-sizing: border-box;
}

html {
    font-family: josefin, sans-serif;
    color: var(--clrPrimary);
    line-height: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 1em;
}

p {
    margin: 0 0 1em;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

a {
    color: var(--clrPrimary);
    text-decoration: none;
}

/* btns */

.btn {
    all: unset;
    letter-spacing: 0.03em;
    font-weight: 100;
    color: var(--clrPrimary);
    /* background-color: rgb(255, 255, 255); */
    /* border: 2px solid var(--clrPrimary); */
    /* padding: 0.25em 0.25em; */
    margin: .25em;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;

    transition:
        color 0.3s,
        border-color 0.3s,
        padding 0.6s;
}

.btn img {
    width: 15px;
    height: 15px;
}

.btn:hover {
    color: #00c8ff;
    border-color: #53ff64;
}