.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(80vw, 980px) minmax(20px, 1fr);
}

.main-container>* {
    grid-column: 2;
}